@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  color: #02e0f0;
  text-decoration: none;
  font-size: 1.25rem;
}
.link {
  color: #381717;
  text-decoration: none;
  font-size: 1.25rem;
}

.drawer-side a.active {
  color: #02e0f0;
}
.drawer-side a {
  background-color: transparent;
}
